@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }
  body {
    @apply bg-gray-50 min-h-screen scrollbar-thin scrollbar-track-black scrollbar-thumb-orange-500
  }
}

@layer components {
  .footer-list-item {
    @apply cursor-pointer list-disc hover:text-white transition-all duration-150 delay-75 ease-in-out;
  }
  .crunchism {
    @apply uppercase font-croissant before:content-['——__'] after:content-['__——'];
  }
  .bicep {
    @apply hidden xl:inline-flex w-[5vw] h-[3vw]
  }
  .exercise {
    @apply outline-none p-2 text-xl border border-gray-900 text-center rounded-lg
  }
}

@layer utilities {
  .clipbg {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      8% 75%,
      0% 50%,
      8% 25%
    );
  }
  .cliprightside {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 50% 50%, 100% 0%);
  }
  .clipleftside {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
  }
}
